body {
    background-color: rgb(118, 216, 216);
       
   }

   h1  {
       font-size: 60pt;
       margin-bottom: 100px;
       text-align: center;
       font-family: 'Indie Flower', cursive;
       font-family: 'Lobster', cursive;
   }
      div{ color: white;
        background-color: blueviolet;
        margin: 1.5%;
        text-align: center
    }

    .header {
        padding: 20px;
    }

      
    h2 {
        font-size: 30pt;
        text-align: left;
        font-family: 'Indie Flower', cursive;
        font-family: 'Lobster', cursive;
   }
   h3 {
       font-size: 20pt;
       text-align: justify;
       font-family: monospace;
       font-family: 'Indie Flower', cursive;
        font-family: 'Lobster', cursive;
   }
       
    p {
        font-size: 15pt;
        font-family: Trebuchet MS;
    }

    .blue-text {
        color: blue;
    }
    .column {
        float: left;
        width: 22.33%;
        padding: 50px;
              
    }

    figure {
           
        text-align: center;
        font-style: italic;
        font-family: Trebuchet
        font-size: 15pt;
                
       
      }


